// COLOR VARS

$color-primary: #b50014;
$color-primary-dark: #66000b;

$color-secondary: #000000;

//TEXT-COLOR VARS

$text-color-light: #ffff;
$text-color-dark: #d8d8d8;

// BORDER VARS
$line: 1px solid #1f1f1f;

$border-white: 1px solid white;

//MEDIA VARS
$bp-huge: 90em; //1440px
$bp-largest: 75em; // 1200px
$bp-large: 65.6em; // 1050px
$bp-medium: 56.25em; // 900px
$bp-small: 37.5em; // 600px
$bp-smallest: 31.25em; // 500px
