.testimonial {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  width: 100%;
  height: 100%;
  background-color: #1e1e1e;
  text-align: center;
  flex-shrink: 1;
  color: $text-color-dark;

  &__description {
    max-width: 25rem;
    font-size: 1.1rem;
    line-height: 2.3rem;
  }
}
