.logo-primary {
  position: absolute;
  display: flex;
  width: 13.5rem;
  height: 13.7rem;
  border-radius: 50%;
  background-image: url('../../../assets/images/logo.png');
  background-size: cover;
  z-index: 1000;
}

.logo-container {
  position: relative;
}
