.header {
  background-color: $color-primary;

  &__container {
    position: relative;
    display: flex;
    align-items: center;
    width: 100%;
    height: 8.5rem;
    background-color: $color-primary;
  }

  &__logo {
    position: relative;

    &::before {
      content: '';
      position: absolute;
      display: flex;
      width: 13.5rem;
      height: 13.7rem;
      top: -4rem;
      border-radius: 50%;
      background-color: $color-primary;
      background-image: url('../../../assets/images/logo.png');
      background-size: cover;
      z-index: 1000;
    }
  }
}
