.hero-section {
  display: flex;
  height: 57rem;
  position: relative;

  &__about {
    max-width: 27rem;
    display: flex;
    flex-direction: column;
    margin-left: auto;
    margin-right: 5rem;
    padding: 5rem 0;
    height: 100%;
    justify-content: space-around;

    & h1 {
      font-size: 2.8rem;
      line-height: 4rem;
    }
  }

  .swiper-slide,
  swiper-slide-active {
    height: 100% !important;
  }

  .mySwiper2 {
    margin-left: auto;
    margin-right: auto;
    position: relative;
    overflow: hidden;
    list-style: none;
    padding: 0;
    z-index: 1;
  }
}

.mySwiper2 .swiper-button-next {
  left: 55%;
  top: 90%;
}

.mySwiper2 .swiper-button-prev {
  left: 44%;
  top: 90%;
}

.mySwiper2 .swiper-pagination-bullet {
  width: 2rem;
  height: 2rem;
}

.swiper-pagination {
  top: 50.5rem;
  z-index: 5;
}
.swiper-pagination-bullets {
  z-index: 1;
}

.swiper-pagination-bullet {
  width: 1.5rem !important;
  height: 1.5rem !important;
  background-color: $color-primary;
  border: $border-white;
}

.title {
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: absolute;
  top: 12rem;
  color: $text-color-light;
  width: 60rem;
  height: 32rem;
  background-color: rgba(0, 0, 0, 0.304);
}

.swiper-pagination-bullet .swiper-pagination-bullet-active {
  width: 1.5rem !important;
  height: 1.5rem !important;
}
