.work-time {
  height: 3rem;
  background-color: #252525;

  &__container {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    height: 100%;
    font-size: 1.2rem;
  }

  &__text1 {
    display: flex;
    color: $text-color-dark;
    &--openTime {
      display: inline-flex;
      color: $text-color-light;
      font-weight: bold;
      margin-right: 0.6rem;
    }
  }

  &__text2 {
    margin-left: 1rem;
    color: $text-color-dark;
  }
}
